tester.ipynb
*.pdb
scripts/tester.ipynb
scripts/esterification_test.py
src/__pycache__/
tests/
build/
.pytest_cache/
oplsaa.ff/
fchks/
src/glyze/gromacs.py
src/glyze/gromacs_topgen.py
src/glyze/gaussian.py
src/glyze/packmol.py
src/glyze/e_viscosity_model.py
src/glyze/chem_processor/dsc_tester.ipynb